<launch>
  <arg name="robot_id" value="$(optenv ROBOT_ID unnamed_robot)"/>

  <group ns="$(arg robot_id)">

    <!-- 0.26m (ground to sensor's base plate) + 0.0635mm -->

    <node pkg="tf" type="static_transform_publisher"
        name="laser_broadcaster"
        args="0 0 0.3235 0 0 0 $(arg robot_id)/base_footprint $(arg robot_id)/rslidar 100"/>

  </group>
</launch>
